<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мясная лавка</title>
</head>
<body>
<header>
<a th:href="@{/request}">Оставить заявку на доставку продуктов</a>
<a th:href="@{/login}">Управление заявками(Администрация)</a>
</header>
<h2>Добро пожаловать в "Мясную лавку"</h2>
<p>Здесь вы можете оформить заявку на доставку мясных изделий, перейдя по ссыке выше. Чтобы просмотреть каталог товаров, пройдите по ссылке ниже.</p><br>
<p><a th:href="@{/products}">Каталог мясных изделий</a></p>

</body>
</html>