<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог мясной лавки</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h2>Каталог наших мясных изделий</h2><br>
<table>
    <tr>
        <td>Наименование</td>
        <td>Описание</td>
        <td>Цена</td>
    </tr>
    <tr th:each="product:${productList}">
        <td th:utext="${product.title}">...</td>
        <td th:utext="${product.description}">...</td>
        <td th:utext="${product.price}">...</td>
    </tr>
</table>
</body>
</html>